In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data/4_augmentation/aug_10_data.txt", sep="\t", encoding="utf-8")

In [3]:
data.head()

          id                                            excerpt    target
0  c12129c31  when the young people returned to the ballroom... -0.340259
1  c12129c31  when the young people returned to the ballroom... -0.003837
2  c12129c31  when the young people returned to the ballroom... -1.130945
3  c12129c31  when the young people returned to the ballroom...  0.058824
4  c12129c31  when the young people returned to the ballroom... -0.797085

- considering to use K-Fold teqnique
- considering imbalance distribution of targets

## train, test set split by considering target distribution

In [8]:
import numpy as np

In [14]:
len(data) * 0.2 / 2

2833.0

In [10]:
min_ = np.min(data["target"])
max_ = np.max(data["target"])
print(min_, max_)

-4.799562916015862 2.94152088268007

In [15]:
np.linspace(min_, max_, 2833)

array([-4.79956292, -4.79682948, -4.79409605, ...,  2.93605402,
        2.93878745,  2.94152088])